$colorText: #2C2D35;
$greenText: #598D66;
$grayText: #86928B;
$whiteText: #F4F6F5;
$backGreen: #376B44;
$backPaleGreen:#E1EDE6;
$btnPaleGreen: #D4E8D9;
$btnYelow: #EEDB6D;
$widthContainer: 1110px;
$widthCard: 350px